<div class="card-panel">
  <%= form_for :range, url: home_search_path, method: :get do |f| %>
    <div class="row">
      <div class="col m6">
        <div class="">
          <%= f.label :first_date, t(:first_date) %>
          <%= f.text_field :first_date, class: 'datepicker', required: :true %>
        </div>
      </div>
      <div class="col m6">
        <div class="">
          <%= f.label :second_date, t(:second_date) %>
          <%= f.text_field :second_date, class: 'datepicker', required: :true %>
        </div>
      </div>
    </div>
    <div class="center">
      <%= f.submit 'Buscar', class: 'btn white-text grey darken-1' %>
    </div> 
  <% end %>
</div>
