<div class="container">
  <%= render 'form' %>
</div>
  <div class="">
    <div class="row">
      <div class="container-fluid">
        <div class="col m6 s12 hoverable">
          <div class="card center white-text grey darken-1">
            <h5>UF</h5>
          </div>
          <div class="row">
            <div class="col m12">
              <div class="row">
                <div class="col m4 s4">
                  <span class="new badge green white-text" data-badge-caption="">Mínimo: <%= @uf_min %></span>
                </div>
                <div class="col m4 s4">
                  <span class="new badge green white-text" data-badge-caption="">Máximo: <%= @uf_max %></span>
                </div>
                <div class="col m4 s4">
                  <span class="new badge green white-text" data-badge-caption="">Promedio: <%= @uf_avg %></span>
                </div>
              </div>
              <%=line_chart @uf_data, xtitle: "Fechas", ytitle: "Valores", min: @uf_min, max: @uf_max %>
            </div>
          </div>
        </div>

        <div class="col m6 s12 hoverable">
          <div class="card center white-text grey darken-1">
            <h5>Dolar</h5>
          </div>
          <div class="row">
            <div class="col m12">
              <div class="row">
                <div class="col m4 s4">
                  <span class="new badge green white-text" data-badge-caption="">Mínimo: <%= @dolar_min %></span>
                </div>
                <div class="col m4 s4">
                  <span class="new badge green white-text" data-badge-caption="">Máximo: <%= @dolar_max %></span>
                </div>
                <div class="col m4 s4">
                  <span class="new badge green white-text" data-badge-caption="">Promedio: <%= @dolar_avg %></span>
                </div>
              </div>
              <%= line_chart @dolar_data, xtitle: "Fechas", ytitle: "Valores", min: @dolar_min, max: @dolar_max %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
