<!DOCTYPE html>
<html>
  <head>
    <title>Cumplo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav class="green accent-4">
        <div class="nav-wrapper container">
          <a  class="logo-container brand-logo" href="/">
            <%= inline_svg('logo.svg', class:'logo') %>
          </a>
        </div>
      </nav>
    </header>
    <% flash.each do |message_type, message| %>
      <% if message.class == Array %>
        <% message.each do |msg| %>
          <%= javascript_tag "Materialize.toast('#{msg}', 4000, '#{materialize_toast(message_type)}')" %>
        <% end %>
      <% else %>
        <%= javascript_tag "Materialize.toast('#{message}', 4000, '#{materialize_toast(message_type)}')" %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
